.card {
    background-color: #fff;
    border-radius: 40px;

    &__wrap {
        padding: 0 #{$padding-wrap}px;
    }

    &_main &__wrap {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .card__row:not(:last-of-type) {
        margin-bottom: 32px;
    }

    .card__row:first-of-type {
        margin-bottom: 48px;
    }

    &__row_center {
        display: flex;
        justify-content: center;
    }

    &__row_center * {
        text-align: center;
    }

    &_main &__row_cols {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &_main &__row_cols &__col:first-of-type {
        margin-right: 36px;
        
    }
}