// colors
$dark: #1B1B29;
$accent: #0265FF;
$text-default: #1B1B29;

// wrap
$content-wrap: 1110;
$wrap: 1270;
$padding-wrap: ($wrap - $content-wrap) / 2;

// mixins
@mixin section {
    border-radius: 60px;

    & .content-wrap {
        max-width: #{$wrap}px;
        margin: 0 auto;
    }
}

@mixin link($fw, $c, $ch: $c) {
    text-decoration: none;
    font-weight: $fw;
    transition: .3s;

    &:active,
    &:link,
    &:visited {
        color: $c;
    }

    &:hover {
        color: $ch;
    }
}